$unselected-disc = #eee
$selected-disc = #E46119

body
  margin: 0

h1
  text-align: center

.container
  display: flex
  height: 45vh
  justify-content: space-between
  margin: 0 auto
  width: 95vw

.peg
  align-items: center
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 30vw

.unselected-disc
    background-color: $unselected-disc
    // display: none

.selected-disc
  background-color: $selected-disc

.invisible-disc
  visibility: hidden

for num in (1..10)
  .disc-{num}
    height: 2vmin
    border-radius: 20px
    width: num * 3vmin
